{% extends "base.html" %} 

{% block title %}Potwierdzenie rezerwacji{% endblock %} 

{% block content %}Złożyłeś rezerwację terminu lekcji
<b>{{lesson_title}}</b>, która planowo odbędzie się
<b>{{lesson_start_time}} (PL)</b>
i będzie prowadzona przez
<b>{{lecturer_full_name}}</b>.<br /><br />
Pamiętaj, że odwołanie rezerwacji jest możliwe do <b>24 godzin</b> przed
rozpoczęciem zajęć. W celu odwołania rezerwacji zaloguj się do swojego konta.<br /><br />
Jednocześnie informujemy, że to nie jest potwierdzenie realizacji szkolenia.
Potwierdzenie otrzymasz 24 godziny przez planowym rozpoczęciem zajęć.{% endblock %}
