{% extends "base.html" %} 

{% block title %}{{title}}{% endblock %} 

{% block content %}Poniżej znajduje się podsumowanie Twojego zamówienia.<br /><br />
{% if items %}
<div style="display: flex; justify-content: center;">
	<table style="border-collapse: collapse; border: 1px solid black;">
		<thead>
			<tr>
				<th style="border: 1px solid black; padding: 8px;">L.p.</th>
				<th style="border: 1px solid black; padding: 8px;">Numer</th>
				<th style="border: 1px solid black; padding: 8px;">Nazwa</th>
				<th style="border: 1px solid black; padding: 8px;">Cena</th>
				<th style="border: 1px solid black; padding: 8px;">Ilość</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				<td style="border: 1px solid black; padding: 8px;">{{ forloop.counter }}</td>
				<td style="border: 1px solid black; padding: 8px;">{{ item.id|stringformat:"07d" }}</td>
				<td style="border: 1px solid black; padding: 8px;">{{ item.name }}</td>
				<td style="border: 1px solid black; padding: 8px;">{{ item.price }}</td>
				<td style="border: 1px solid black; padding: 8px;">{{ item.quantity }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<p>Brak danych do wyświetlenia.</p>
{% endif %}


<br />
Kwota: {{amount}}
<br />
Status płatności: {{status}}
<br />
Metoda płatności: {{method}}
<br /><br />
{{description}}{% endblock %}
