[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods
    W0511, # fixme
    W0718, # broad-exception-caught
    R0914, # too-many-locals
    R0915, # too-many-statements
    C0301, # line-too-long
    E0401, # import-error